.infinite-container {
  overflow: auto;
  padding: 0px 24px;
  height: 85vh;
}
.loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
.ant-list-item-content{
    width: 100%
}
.subInfo{
    display: grid;
    grid-template-columns: 18% 18% 18% 46%;
}
.inline{
    display: inline;
}
.itemInfo{
    width: calc( 100% - 60px )
}
.typeIcon{
    width: 50px;
    height:50px;
    color:white;
    border-radius: 25px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}
.typeIcon1{
    background-color: #941100;
}
.typeIcon2{
    background-color: #008F00;
}
.typeIcon3{
    background-color: #0096FF;
}
.typeIcon4{
    background-color: black;
}